{% block sw_cms_block_devider %}
    <div class="sw-cms-block-preview-devider">
        <div class="line"></div>
        <div class="button">Button</div>
        <div class="line"></div>
    </div>
{% endblock %}
