.sw-cms-block-preview-devider {
    display: flex;
    align-items: center;
    padding: 20px;

    .line {
        flex: 1;
        border-top: 1px solid #00102D;
    }

    .button {
        margin: 0 10px;
        padding: 5px 12px;
        background: #00102D;
        border-radius: 2px;
        color: white;
        font-size: 14px;
        line-height: 23px;
    }
}
