.sw-cms-el-text-slider {
    margin: 0 auto;

    &.has--horizontal-align-left {
        margin-left: 0;
    }

    &.has--horizontal-align-right {
        margin-right: 0;
    }
    
    .sw-alert {
        margin: 10px;
    }

    .navigation-dots {
        display: flex;
        gap: 10px;
        margin-top: 30px;
    }

    .navigation-dot {
        width: 10px;
        height: 10px;
        background-color: rgba(#CCCFD5, .5);
        border-radius: 50%;

        &.is--active {
            background-color: #CCCFD5;
        }
    }

    .navigation-arrows {
        display: flex;
        gap: 10px;
        margin-top: 60px;
    }
}
