{% block sw_cms_element_devider_preview %}
    <div class="sw-cms-el-preview-devider">
        <div class="line"></div>
        <div class="button">Button</div>
        <div class="line"></div>
    </div>
{% endblock %}

