.account-content {
  padding-top: 60px;

  .account-content-aside {
    padding-top: 1rem;
  }
}

.account-recover-password {
  padding: 40px 0;
}

.account-recover-password-form-actions {
  padding: 20px 0;
}