// global cms styles
.sw-cms-stage {
  .sw-cms-section {
    &:not(.is--boxed) {
      .sw-cms-block-text {
        padding: 0 40px;
      }
    }
  }

  .sw-cms-block-image-text-cover,
  .sw-cms-block-image-text {
    .sw-cms-el-text {
      padding: 0 40px;
    }
  } 

  .sw-cms-block-image-text {
    gap: 0;
  }

  // Mobile
  &.is--mobile {
    .sw-cms-block-image-text-cover,
    .sw-cms-block-image-text {
      grid-template-columns: 1fr;

      .sw-cms-el-text {
        padding: 40px;
      }
    }
  }
}
