{% block sw_cms_sidebar_section_config_sizing_field %}
  {% parent %}

  <div class="sw-cms-padding-config-note">
    {{ $tc('sw-cms.detail.label.paddingNote') }}
  </div>

  {# Padding left #}
  <div class="sw-cms-padding-config">
    <div class="sw-cms-padding-config__checkbox-group-label">
      {{ $tc('sw-cms.detail.label.paddingLeftLabelCheckboxGroup') }}
    </div>

    <div class="sw-cms-padding-config__checkbox-group">
      {# Mobile #}
      <label
        class="sw-cms-padding-config__checkbox"
        for="sw-cms-section-padding-left-config-mobile"
      >
        {{ $tc('sw-cms.detail.label.paddingMobile') }}

        <input
          id="sw-cms-section-padding-left-config-mobile"
          class="sw-cms-padding-config__checkbox-input"
          type="checkbox"
          {% if VUE3 %}
          v-model:value="section.customFields.paddingLeftMobile"
          {% else %}
          v-model="section.customFields.paddingLeftMobile"
          {% endif %}
        >

        <sw-icon
          :name="section.customFields.paddingLeftMobile ? 'regular-mobile' : 'regular-mobile-slash'"
          size="24"
        />
      </label>

      {# Tablet #}
      <label
        class="sw-cms-padding-config__checkbox"
        for="sw-cms-section-padding-left-config-tablet"
      >
        {{ $tc('sw-cms.detail.label.paddingTablet') }}

        <input
          id="sw-cms-section-padding-left-config-tablet"
          class="sw-cms-padding-config__checkbox-input"
          type="checkbox"
          {% if VUE3 %}
          v-model:value="section.customFields.paddingLeftTablet"
          {% else %}
          v-model="section.customFields.paddingLeftTablet"
          {% endif %}
        >
        <sw-icon
          :name="section.customFields.paddingLeftTablet ? 'regular-tablet' : 'regular-tablet-slash'"
          size="24"
        />
      </label>

      {# Desktop #}
      <label
        class="sw-cms-padding-config__checkbox"
        for="sw-cms-section-padding-left-config-desktop"
      >
        {{ $tc('sw-cms.detail.label.paddingDesktop') }}

        <input
          id="sw-cms-section-padding-left-config-desktop"
          class="sw-cms-padding-config__checkbox-input"
          type="checkbox"
          {% if VUE3 %}
          v-model:value="section.customFields.paddingLeftDesktop"
          {% else %}
          v-model="section.customFields.paddingLeftDesktop"
          {% endif %}
        >

        <sw-icon
          :name="section.customFields.paddingLeftDesktop ? 'regular-desktop' : 'regular-desktop-slash'"
          size="24"
        />
      </label>
    </div>
  </div>

  {# Padding right #}
  <div class="sw-cms-padding-config">
    <div class="sw-cms-padding-config__checkbox-group-label">
      {{ $tc('sw-cms.detail.label.paddingRightLabelCheckboxGroup') }}
    </div>

    <div class="sw-cms-padding-config__checkbox-group">
      {# Mobile #}
      <label
        class="sw-cms-padding-config__checkbox"
        for="sw-cms-section-padding-right-config-mobile"
      >
        {{ $tc('sw-cms.detail.label.paddingMobile') }}

        <input
          id="sw-cms-section-padding-right-config-mobile"
          class="sw-cms-padding-config__checkbox-input"
          type="checkbox"
          {% if VUE3 %}
          v-model:value="section.customFields.paddingRightMobile"
          {% else %}
          v-model="section.customFields.paddingRightMobile"
          {% endif %}
        >

        <sw-icon
          :name="section.customFields.paddingRightMobile ? 'regular-mobile' : 'regular-mobile-slash'"
          size="24"
        />
      </label>

      {# Tablet #}
      <label
        class="sw-cms-padding-config__checkbox"
        for="sw-cms-section-padding-right-config-tablet"
      >
        {{ $tc('sw-cms.detail.label.paddingTablet') }}

        <input
          id="sw-cms-section-padding-right-config-tablet"
          class="sw-cms-padding-config__checkbox-input"
          type="checkbox"
          {% if VUE3 %}
          v-model:value="section.customFields.paddingRightTablet"
          {% else %}
          v-model="section.customFields.paddingRightTablet"
          {% endif %}
        >
        <sw-icon
          :name="section.customFields.paddingRightTablet ? 'regular-tablet' : 'regular-tablet-slash'"
          size="24"
        />
      </label>

      {# Desktop #}
      <label
        class="sw-cms-padding-config__checkbox"
        for="sw-cms-section-padding-right-config-desktop"
      >
        {{ $tc('sw-cms.detail.label.paddingDesktop') }}

        <input
          id="sw-cms-section-padding-right-config-desktop"
          class="sw-cms-padding-config__checkbox-input"
          type="checkbox"
          {% if VUE3 %}
          v-model:value="section.customFields.paddingRightDesktop"
          {% else %}
          v-model="section.customFields.paddingRightDesktop"
          {% endif %}
        >

        <sw-icon
          :name="section.customFields.paddingRightDesktop ? 'regular-desktop' : 'regular-desktop-slash'"
          size="24"
        />
      </label>
    </div>
  </div>
{% endblock %}

{% block sw_cms_section_config_background_image_position_field %}
  {# Background mode #}
  <sw-select-field
    {% if VUE3 %}
    v-model:value="section.backgroundMediaMode"
    {% else %}
    v-model="section.backgroundMediaMode"
    {% endif %}
    :label="$tc('sw-cms.detail.label.backgroundMediaMode')"
    :disabled="!section.backgroundMediaId"
  >
    <option value="auto">
        {{ $tc('sw-cms.detail.label.backgroundMediaModeAuto') }}
    </option>
    <option value="contain">
        {{ $tc('sw-cms.detail.label.backgroundMediaModeContain') }}
    </option>
    <option value="cover">
        {{ $tc('sw-cms.detail.label.backgroundMediaModeCover') }}
    </option>
    <option value="custom">
        {{ $tc('sw-cms.detail.label.backgroundMediaModeCustom') }}
    </option>
  </sw-select-field>
  
  {# Background size #}
  <sw-text-field
    v-if="section.backgroundMediaMode == 'custom'"
    {% if VUE3 %}
    v-model:value="section.customFields.backgroundSize"
    {% else %}
    v-model="section.customFields.backgroundSize"
    {% endif %}
    :label="$tc('sw-cms.detail.label.backgroundSizeField')"
    :help-text="$tc('sw-cms.detail.helpText.backgroundSizeField')"
    :disabled="!section.backgroundMediaId || section.backgroundMediaMode != 'custom'"
  />
  
  {# Background position #}
  <sw-text-field
    {% if VUE3 %}
    v-model:value="section.customFields.backgroundPosition"
    {% else %}
    v-model="section.customFields.backgroundPosition"
    {% endif %}
    :label="$tc('sw-cms.detail.label.backgroundPositionField')"
    :help-text="$tc('sw-cms.detail.helpText.backgroundPositionField')"
    :disabled="!section.backgroundMediaId"
  />

  {# Background repeat #}
  <sw-select-field
    {% if VUE3 %}
    v-model:value="section.customFields.backgroundRepeat"
    {% else %}
    v-model="section.customFields.backgroundRepeat"
    {% endif %}
    :label="$tc('sw-cms.detail.label.backgroundRepeatField')"
    :disabled="!section.backgroundMediaId"
  >
    <option value="no-repeat">
        {{ $tc('sw-cms.detail.label.backgroundRepeatNoRepeat') }}
    </option>
    <option value="repeat">
        {{ $tc('sw-cms.detail.label.backgroundRepeatRepeat') }}
    </option>
    <option value="repeat-x">
        {{ $tc('sw-cms.detail.label.backgroundRepeatRepeatX') }}
    </option>
    <option value="repeat-y">
        {{ $tc('sw-cms.detail.label.backgroundRepeatRepeatY') }}
    </option>
  </sw-select-field>
{% endblock %}
