/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/

// Options
$enable-negative-margins: true !default;

// Colors
$black: #000 !default;
$primary:    #00102D !default;
$secondary:  #E49D92 !default;

// Body
$body-color: #00102D !default;

// Links
$link-decoration:    none !default;
$link-hover-color: $secondary !default;

// Spacers
$spacer: 1rem !default; // 16px

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.5,
  6: $spacer * 5,
) !default;

// Grid
$container-padding-x: 5rem !default;

// State
$component-active-bg: $secondary !default;

// Borders
$border-color: $primary !default;

$border-radius:    0.125rem !default; // 2px
$border-radius-lg: 0.313rem !default; // 5px

// Shadows
$box-shadow: 0px 3px 3px rgba($black, .1) !default;

// Typography
$font-size-root: 16px !default;
$font-size-base: 1.125rem !default; // 18px
$font-size-sm:   $font-size-base * 0.778 !default; // 14px
$font-size-lg:   $font-size-base * 1.167 !default; // 21px

$font-weight-light: 300 !default;

$line-height-base: 1.72 !default; // 31px
$line-height-sm:   1.64 !default; // 23px
$line-height-lg:   1.48 !default; // 31px

$h1-font-size: $font-size-base * 2.833 !default; // 51px
$h2-font-size: $font-size-base * 2.278 !default; // 41px
$h3-font-size: $font-size-base * 1.778 !default; // 32px
$h4-font-size: $font-size-base * 1.333 !default; // 24px

$headings-margin-bottom:  $spacer * 1.25 !default; // 20px
$headings-font-weight:    bold !default;

$headings-color: $primary !default;

// Input buttons
$input-btn-padding-y:    0.594rem !default;
$input-btn-padding-x:    0.844rem !default;
$input-btn-line-height:  1.5 !default;

$input-btn-border-width: 0 !default;

$input-btn-padding-y-sm: $input-btn-padding-y !default;
$input-btn-padding-x-sm: $input-btn-padding-x !default;

$input-btn-padding-y-lg: $input-btn-padding-y !default;
$input-btn-padding-x-lg: $input-btn-padding-x !default;

// Buttons
$btn-padding-y:        $input-btn-padding-y !default;
$btn-padding-x:        $input-btn-padding-x !default;
$btn-line-height:      $input-btn-line-height !default;

$btn-border-width:     $input-btn-border-width !default;

$btn-font-weight:      $font-weight-light !default;

$btn-border-radius:    $border-radius !default;
$btn-border-radius-sm: $border-radius !default;
$btn-border-radius-lg: $border-radius !default;

$btn-padding-y-sm: $input-btn-padding-y-sm !default;
$btn-padding-x-sm: $input-btn-padding-x-sm !default;

$btn-padding-y-lg: $input-btn-padding-y-lg !default;
$btn-padding-x-lg: $input-btn-padding-x-lg !default;

// Forms

// Navs
$nav-link-font-size:   $font-size-base !default;
$nav-link-line-height: 1.5;
$nav-link-font-weight: normal !default;
$nav-link-color:       #FFFFFF !default;
$nav-link-hover-color: #FFFFFF !default;

// Navbar
$navbar-padding-y: 2rem !default; // 32px
$navbar-padding-x: 0 !default;

$navbar-nav-link-padding-x: 0.313rem !default; // 6px
$navbar-nav-link-padding-y: 0.063rem; // 1px

$navbar-light-color:          #FFFFFF !default;
$navbar-light-hover-color:    rgba(#FFFFFF, .8) !default;
$navbar-light-active-color:   #FFFFFF  !default;

// Navbar dark variant
$navbar-dark-color:           $primary !default;
$navbar-dark-hover-color:     rgba($primary, .8) !default;
$navbar-dark-active-color:    $primary !default;
$navbar-dark-disabled-color:  rgba($primary, .25) !default;

// Dropdowns
$dropdown-padding-y:           10px !default;
$dropdown-font-size:           $font-size-sm !default;
$dropdown-color:               $primary !default;
$dropdown-bg:                  $secondary !default;
$dropdown-border-color:        $secondary !default;

$dropdown-link-color:          $primary !default;
$dropdown-link-hover-color:    #FFFFFF !default;
$dropdown-link-hover-bg:       $secondary !default;

$dropdown-link-active-color:   #FFFFFF !default;
$dropdown-link-active-bg:      $secondary !default;

$dropdown-item-padding-y:      4.5px !default;
$dropdown-item-padding-x:      12px !default;

// Breadcrumbs
$breadcrumb-padding-x: $container-padding-x/2 !default;

// Forms
$form-text-color: $primary !default;

// Inputs
$input-padding-y:        13.5px !default;
$input-padding-x:        10px !default;

$input-bg: #f9ecea !default;

$input-border-color: #f9ecea !default;
$input-border-width: 1px !default;

$input-border-radius:     0 !default;
$input-border-radius-sm:  0 !default;
$input-border-radius-lg:  0 !default;

$input-focus-border-color: $input-border-color !default;
$input-focus-box-shadow: none !default;

$input-placeholder-color: #CCCFD5 !default;

// Select
$form-select-focus-box-shadow: none !default;
$form-select-border-color: #f9ecea !default;

// Checkbox
$form-check-input-bg: transparent !default;
$form-check-input-border: 2px solid $secondary !default;
$form-check-input-focus-box-shadow: none !default;

// Accordion
$accordion-border-radius: 0 !default;
$accordion-border-color:  rgba($border-color, 0.5) !default;
$accordion-bg:            transparent !default;

$accordion-body-padding-y: 0 !default;
$accordion-body-padding-x: 0 !default;

$accordion-button-padding-y: 20px !default;
$accordion-button-padding-x: 0 !default;

$accordion-button-active-bg: transparent !default;

$accordion-button-focus-border-color: $border-color !default;
$accordion-button-focus-box-shadow: none !default;

$accordion-icon-width: 11px !default;
