// name
.product-detail-name {
  margin-bottom: $spacer*0.313;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*1.25;
  }
}

// small description
.product-detail-small-description {
  margin-bottom: $spacer*2.313;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*1.875;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
}

// price and tax
.product-detail-price-tax-container {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer*2.125;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*1.188;
  }
}

.product-detail-price {
  order: 0;
  margin-bottom: $spacer*0.188;
  font-weight: normal;
  font-size: $h2-font-size;
  line-height: $headings-line-height;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*0.563;
  }
}

.product-detail-price-unit {
  order: 2;
  font-size: $font-size-base-lead;
  line-height: $line-height-sm;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
  }
}

.product-detail-tax {
  margin-bottom: $spacer*0.813;
  order: 1;
  margin: 0;
  font-size: $font-size-base-lead;
  line-height: $line-height-sm;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*0.563;
    font-size: $font-size-sm;
  }
}

// delivery info
.product-detail-delivery-information {
  margin-bottom: $spacer*1.875;
}

.product-detail-delivery-information {
  font-size: $font-size-base-lead;
  line-height: $line-height-sm;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
  }
}

.delivery-information {
  margin-bottom: 0;
  line-height: inherit;
}

.delivery-status-indicator {
  display: none;
}

// buy form
.product-detail-form-container {
  max-width: 13.313rem;
  margin: 0;
}

.buy-widget-container {
  --bs-gutter-y: #{$spacer*1.063};

  @include media-breakpoint-up(lg) {
    --bs-gutter-y: #{$spacer*0.625};
  }
}

.quantity-selector-group {
  input {
    background-color: transparent;
    border-color: #000;
  }
}

.product-detail-quantity-label {
  display: block;
  margin-bottom: $spacer*0.25;
  font-size: $font-size-base-lead;
  line-height: 1;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-xs;
  }
}

.product-detail-quantity-select {
  width: 100%;
  height: auto;
  padding: $spacer*0.5 $spacer;
  background-color: white;
  border: $border-width $border-style $sw-border-color;
  border-radius: $border-radius;
  font-size: $font-size-base-lead;
  cursor: pointer;
  /** for the dropdown indicator */
  appearance: none;
  background-image: escape-svg($form-select-indicator);
  background-repeat: no-repeat;
  background-position: $form-select-bg-position;
  background-size: $form-select-bg-size;

  &:focus {
    outline: none;
  }
}
