.product-detail-cross-selling {
  .cross-selling-items {
    @include media-breakpoint-down(lg) {
      padding: 0;
    }
  }

  .card {
    margin: 0;
  }
}

.cross-selling-item {
  margin-bottom: 40px;

  &:last-child {
    margin: 0;
  }
}

.cross-selling-title {
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.cross-selling-item-row {
  --bs-gutter-x: 16px;
  --bs-gutter-y: 50px;
}
