.product-detail-cross-selling {
  .cross-selling-items {
    @include media-breakpoint-down(lg) {
      padding: 0;
    }
  }

  .card {
    margin: 0;
  }
}

.cross-selling-item {
  margin-bottom: $spacer*2.5;

  &:last-child {
    margin: 0;
  }
}

.cross-selling-title {
  margin-bottom: $spacer*2.5;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.cross-selling-item-row {
  --bs-gutter-x: #{$spacer};
  --bs-gutter-y: #{$spacer*3.125};
}
