.product-detail-info {
  max-width: 50rem;
  margin: 0 auto $spacer*2.75;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*6.25;
  }
}

.product-detail-info-note {
  margin-bottom: $spacer*1.625;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*3.125;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
}
