.is-ctl-product {
  .container-main {
    padding-top: $spacer*0.5;

    &> .container {
      max-width: 100%;

      @include media-breakpoint-up(lg) {
        padding: 0;
      }
    }
  }

  .cms-sections {
    overflow: visible;
  }

  .breadcrumb {
    padding-top: $spacer*3.125;
  }

  .product-detail-main{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
  
  .product-detail-content {
    margin-bottom: $spacer*3.563;
  
    @include media-breakpoint-up(lg) {
      margin-bottom: $spacer*5;
    }
  }

  .product-detail-buy {
    margin-bottom: 0;
    padding: 0 0 0;
  
    @include media-breakpoint-up(lg) {
      margin-top: -$spacer*5.75;
      padding: $spacer*5.75 calc($container-padding-x / 2) $spacer*6.563;
      background-color: rgba(#CCCFD5, 0.25);
    }
  
    .cms-element-buy-box {
      @include media-breakpoint-up(lg) {
        max-width: 22.25rem;
        margin: auto;
      }
    }
  }
}

.product-detail-media {
  &> div {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}
