.is-ctl-product {
  --pdp-breadcrumb-space-top: 50px;
  --pdp-space-top: 0;
  
  @include media-breakpoint-up(lg) {
    --pdp-space-top: calc(var(--pdp-breadcrumb-space-top) + 42px);
  }

  .container-main {
    padding-top: 8px;

    &> .container {
      max-width: 100%;

      @include media-breakpoint-up(lg) {
        padding: 0;
      }
    }
  }

  .breadcrumb {
    padding-top: var(--pdp-breadcrumb-space-top);
  }

  .product-detail-main{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
  
  .product-detail-content {
    margin-bottom: 57px;
  
    @include media-breakpoint-up(lg) {
      margin-bottom: 80px;
    }
  }

  .product-detail-buy {
    margin-bottom: 0;
    margin-top: calc(#{var(--pdp-space-top)} * -1);
    padding: var(--pdp-space-top) 0 0;
  
    @include media-breakpoint-up(lg) {
      padding: var(--pdp-space-top) $container-padding-x/2 105px;
      background-color: rgba(#CCCFD5, 0.25);
    }
  
    .cms-element-buy-box {
      @include media-breakpoint-up(lg) {
        max-width: 356px;
        margin: auto;
      }
    }
  }
}

.product-detail-media {
  &> div {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}
