{% block sw_cms_block_collapses %}
    <div class="sw-cms-block-preview-collapses">
        <div class="sw-cms-block-preview-collapses-item">
            <div class="sw-cms-block-preview-collapses-title active">
                Lorem ipsum

                <sw-icon
                    class="sw-cms-block-preview-collapses-title-arrow"
                    name="regular-chevron-down-xs"
                />
            </div>

            <div class="sw-cms-block-preview-collapses-content-container">
                <div class="sw-cms-block-preview-collapses-content">
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>

        <div class="sw-cms-block-preview-collapses-item">
            <div class="sw-cms-block-preview-collapses-title">
                Lorem ipsum

                <sw-icon
                    class="sw-cms-block-preview-collapses-title-arrow"
                    name="regular-chevron-down-xs"
                />
            </div>
        </div>
    </div>
{% endblock %}
