{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
    {# Check if category has teaser image - start #}
    {% set currentCategory = page.header.navigation.active %}
    {% set hasTeaser = currentCategory.media ? true : false %}

    {% if currentCategory.level == 1 and not(controllerAction|lower == 'home') %}
        {% set hasTeaser = false %}
    {% endif %}
    {# Check if category has teaser image - end #}

    <div class="sticky-header{% if hasTeaser and (activeRoute|lower != 'frontend.detail.page') %} remove-height{% endif %}">
        <header class="header-main{% if not(hasTeaser) %} header-dark{% endif %}"
            data-sticky-header="true"
        >
            {% block base_header_inner %}
                <div class="container-fluid">
                    {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
                </div>
            {% endblock %}
        </header>
    </div>
{% endblock %}

{% block base_navigation %}{% endblock %}

{% block base_offcanvas_navigation %}
    {# Removed offcanvas navigation - dropdown implemented in header #}

    {# Check if category has teaser image - start #}
    {% set currentCategory = page.header.navigation.active %}
    {% set hasTeaser = currentCategory.media ? true : false %}

    {% if currentCategory.level == 1 and not(controllerAction|lower == 'home') %}
        {% set hasTeaser = false %}
    {% endif %}
    {# Check if it has teaser image - end #}
    
    {% if hasTeaser and (activeRoute|lower != 'frontend.detail.page')%}
        {% sw_include '@Storefront/storefront/component/custom/category-teaser.html.twig' with {
            category: currentCategory
        } %}
    {% endif %}

    {# Global action buttons #}
    {% sw_include '@Storefront/storefront/component/custom/global-actions.html.twig' %}
{% endblock %}

{% block base_main_inner %}
    {% block base_main_container %}
        <div class="container-main">
            {% block base_breadcrumb %}
                {{ parent() }}
            {% endblock %}

            <div class="container">
                {% block base_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block base_scroll_up %}{% endblock %}
