{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
    {# Made to make it easier to add styles if you need
       to add options in the admin for overlay and dark #}
    {% set isDark = controllerName|lower == 'product' %}
    {% set isOverlay = controllerName|lower != 'product' %}

    <header class="header-main{% if isDark %} header-dark{% endif %}{% if isOverlay %} position-absolute{% endif %}">
        {% block base_header_inner %}
            <div class="container-fluid">
                {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
            </div>
        {% endblock %}
    </header>
{% endblock %}

{% block base_navigation %}{% endblock %}

{% block base_offcanvas_navigation %}
    {# Removed offcanvas navigation - dropdown implemented in header #}

    {# Category teaser #}
    {% set categoryMedia = page.header.navigation.active.media %}
    {% set categoryContent = page.header.navigation.active.translated.description %}
    {% set isFullScreen = page.header.navigation.active.translated.customFields.fullScreen %}

    {% set attributes = {
        'class': 'category-teaser-image',
        'alt': 'Category teaser image'
    } %}

    <div class="category-teaser{% if isFullScreen %} is-full{% endif %}">
        {% sw_thumbnails 'category-teaser-image' with {
            media: categoryMedia 
        } %}

        <div class="category-teaser-content">
            <div class="container-fluid">
                {{ categoryContent|raw }}
            </div>
        </div>
    </div>
{% endblock %}
