{% block sw_cms_element_video_preview %}
    <div class="sw-cms-el-preview-video">
        <img class="video-thumbnail" 
            :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" 
            alt="Thumnail image"
        >
        
        <sw-icon class="video-play-icon"
            name="solid-play"
            color="#E49D92"
            size="25"
        />
    </div>
{% endblock %}
