{% sw_extends '@Storefront/storefront/element/cms-element-text.html.twig' %}

{% block element_text %}
    {% set config = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}" 
        style="max-width: {{ config.maxWidth.value }}"
    >
        {% block element_text_alignment %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
