.cms-element-product-listing {
  .cms-listing-row {
    @include media-breakpoint-up(lg) {
      --bs-gutter-y: #{$spacer};
      --bs-gutter-x: #{$spacer};
      margin-right: calc(-0.5 * var(--bs-gutter-x));
      margin-left: calc(-0.5 * var(--bs-gutter-x));
    }
  }

  .cms-listing-col {
    margin-bottom: $spacer*3.125;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);

    @include media-breakpoint-up(lg) {
      margin: var(--bs-gutter-y) 0 0;
    }
  }
}

.cms-listing-category-products-row {
  --bs-gutter-x: #{$spacer*2.5};
  --bs-gutter-y: #{$spacer*3.125};

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*6.25;
  }
}

.cms-listing-category-info {
  @include media-breakpoint-up(lg) {
    padding-top: $spacer*1.25;
  }
}

.cms-listing-category-info-title {
  margin-bottom: $spacer*1.25;
}

.cms-listing-category-info-content {
  font-family: $font-family-noto;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
  }

  .btn {
    margin-top: $spacer*1.25;
    font-family: $sw-font-family-base;

    @include media-breakpoint-up(lg) {
      margin-top: $spacer*2.5;
    }
  }
}
