.cms-element-text {
  margin: 0 auto;

  &.has-horizontal-alignment-left {
    margin-left: 0;
  }

  &.has-horizontal-alignment-right {
    margin-right: 0;
  }

  ol {
    li::marker {
      color: $sw-color-brand-secondary;
    }
  }
  
  ul, ol {
    font-weight: $font-weight-semibold;
  }
}
