.cms-element-text-slider {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;

  &.has-horizontal-alignment-left {
    margin-left: 0;
  }

  &.has-horizontal-alignment-right {
    margin-right: 0;
  }

  &.has-vertical-alignment-left {
    align-items: flex-start;
  }

  &.has-vertical-alignment-right {
    align-items: flex-end;
  }

  &> div {
    width: 100%;
  }

  .tns-item {
    *:last-child {
      margin-bottom: 0;
    }

    &:not(.tns-slide-active) {
      opacity: .4;
    }
  }

  .tns-nav {
    justify-content: flex-start;
    margin-top: $spacer*1.25;

    @include media-breakpoint-up(md) {
      margin-top: $spacer*1.875;
    }
  }

  .base-slider-controls {
    margin-top: $spacer*1.25;

    @include media-breakpoint-up(md) {
      margin-top: $spacer*3.75;
    }
  }
}
