{% block sw_cms_element_video %}
    <div class="sw-cms-el-video">
        <img class="video-thumbnail" :src="thumbnailUrl" alt="Thumnail image">

        <sw-icon class="video-play-icon"
            name="solid-play"
            color="#E49D92"
            size="25"
        />
    </div>
{% endblock %}
