$font-size-xs:   $font-size-base * 0.667; // 12px
$font-size-base-lead: 1rem; // 16px
$font-size-xl:   $font-size-base * 1.667; // 30px

$line-height-xl:   1.24; // 20px

$h1-line-height: 1.08; // 55px
$h2-line-height: 1.15; // 47px
$h3-line-height: 1.25; // 40px

$font-size-form-mobile: $font-size-base * 1.625;// 26px
$line-height-form-mobile: 1.5;// 24px

$text-light-color: #fff;

$footer-main-bg-color: #e6e8eb;
$footer-bottom-bg-color: #f3f4f6;
