{% block custom_global_actions %}
	<div class="global-action-menu">
		<a class="btn btn-primary global-action-btn"
			href="{{ "choju.globalActions.phoneLink"|trans|sw_sanitize }}"
		>
			{% sw_include '@Storefront/storefront/component/custom/icons/phone.html.twig' %}
		</a>

		<a class="btn btn-primary global-action-btn"
			href="{{ "choju.globalActions.emailLink"|trans|sw_sanitize }}"
		>
			{% sw_include '@Storefront/storefront/component/custom/icons/email.html.twig' %}
		</a>

		<div>
			{% sw_include '@Storefront/storefront/component/custom/switch-language-action.html.twig' %}
		</div>

		<a class="btn btn-primary global-action-btn"
			href="{{ "choju.globalActions.wirelessLink"|trans|sw_sanitize }}"
		>
			{% sw_include '@Storefront/storefront/component/custom/icons/wireless.html.twig' %}
		</a>

		<a class="btn btn-primary global-action-btn"
			href="{{ "choju.globalActions.plusLink"|trans|sw_sanitize }}"
		>
			{% sw_include '@Storefront/storefront/component/custom/icons/plus.html.twig' %}
		</a>
	</div>
{% endblock %}
