.account-aside-item,
.account-menu-register a {
  background-color: transparent;
  color: $dropdown-link-color;

  &:hover {
    background-color: $dropdown-link-hover-bg;
    color: $dropdown-link-hover-color;
  }
}
