.header-main {
  top: 0;
  left: 0;
  width: 100%;
  color: $navbar-light-color;
  z-index: $zindex-sticky;

  // header background
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, $sw-color-brand-primary, transparent 100%);
    opacity: 0.2;
  }

  &.header-dark {
    color: $navbar-dark-color;

    &::before {
      display: none;
    }
  }
}

.header-row {
  position: relative;
  padding: $navbar-padding-y $navbar-padding-x;

  @include media-breakpoint-up(lg) {
    --bs-gutter-x: #{$spacer*1.5};
  }
}

// Logo
.header-logo-col {
  margin: 0;
  padding-bottom: 0;
}

.header-logo-main {
  text-align: left;
}

.header-logo-picture {
  height: 2.188rem;
  min-width: auto;
  margin: 0;

  @include media-breakpoint-up(lg) {
    height: 1.375rem;
  }
}

.header-logo-main-img {
  display: block;
  max-height: 100%;

  .header-dark &{
    filter: invert(1);
  }
}

// Search
.header-search {
  max-width: 37.5rem;
  margin: $spacer*1.563 auto 0;
}

.header-search-col .collapse:not(.show) {
  display: none;
}

.header-search-btn {
  line-height: 1;

  .icon {
    svg {
      top: 0;
    }
  }
}

// Actions
.header-actions-col {
  &> .row {
    --bs-gutter-x: #{$spacer*1.563};

    @include media-breakpoint-up(lg) {
      --bs-gutter-x: #{$spacer*0.813};
    }
  }
}

.header-actions-btn {
  padding: 0;
  color: inherit;
  line-height: 1;
  overflow: visible;

  @include media-breakpoint-up(lg) {
    padding: $spacer*0.375;
  }

  &:hover {
    color: $navbar-light-hover-color;

    .icon {
      color: inherit;
    }
  }

  &:active {
    color: $navbar-light-active-color;
  }

  .header-dark &{
    &:hover {
      color: $navbar-dark-hover-color;
    }
  
    &:active {
      color: $navbar-dark-active-color;
    }
  }

  .icon {
    height: 1.563rem;
    width: 1.563rem;
    color: inherit;

    @include media-breakpoint-up(lg) {
      height: 0.938rem;
      width: 0.938rem;
    }

    svg {
      top: 0;
    }
  }
}

.header-cart .header-cart-badge, 
.header-wishlist .header-wishlist-badge {
  top: -$spacer*0.438;
  right: -$spacer*0.563;
  display: block;
  margin: 0;
}
