// Header main collapse styles
.header-main {
  @include media-breakpoint-down(lg) {
    &.collapse-menu-activated {
      transition: background-color .1s linear;
      transition-delay: .35s;
  
      .header-logo-main {
        opacity: 1;
        transition: opacity .35s ease;
        transition-delay: .35s;
      }
  
      .header-actions-btn {
        transition: color .35s ease;
        transition-delay: .35s;
      }
    }

    &.collapse-menu-open {
      background-color: $sw-color-brand-primary;
      color: $navbar-light-color;
      transition: none;
      transition-delay: 0s;

      .header-logo-main {
        opacity: 0;
        transition-delay: 0s;
      }

      .header-actions-btn {
        transition-delay: 0s;

        &:hover {
          color: $navbar-light-hover-color;
        }

        &:active {
          color: $navbar-light-active-color;
        }
      }
    }
  }
}

// Collapse button
.nav-main-toggle-btn {
  &:not(.collapsed) {
    .icon-stack {
      display: none;
    }

    .icon-x {
      display: inline-flex;
    }
  }

  .icon-x {
    display: none;
    padding: $spacer*0.094;
  }
}

// COLLAPSE NAVIGATION
.navigation-collapse {
  position: absolute;
  top: 100%;
  left: calc(-1 * ($grid-gutter-width / 2));
  right: calc(-1 * ($grid-gutter-width / 2));
  background: $sw-color-brand-primary;
  color: $text-light-color;
  z-index: -1;
}

.navigation-collapse-content {
  padding: $spacer*1.5 $spacer*1.5 $spacer*3.125;
}

// Categories
.navigation-collapse-categories {
  margin-bottom: $spacer*3.125;
}

.navigation-collapse-categories-list {
  margin: 0;

  &:not(.is-level-0) {
    padding-left: $spacer*0.625;
  }
}

.navigation-collapse-category-item {
  padding: $spacer*0.25 0;
}

.navigation-collapse-category-link {
  display: inline-flex;
  align-items: center;
  gap: $spacer*0.375;
  padding: $spacer*0.25 0;
  color: inherit;
  font-size: $nav-link-font-size;
  line-height: $nav-link-line-height;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &.active {
    color: $sw-color-brand-secondary;
  }

  &:not(.collapsed) {
    .icon {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }

  .icon {
    width: 0.625rem;
    height: 0.625rem;
    color: inherit;

    svg {
      top: 0;
    }
  }
}

// Service links
.navigation-collapse-service-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacer*0.5;
  margin-bottom: $spacer*3.125;
}

.navigation-collapse-service-link {
  display: flex;
  align-items: center;
  gap: $spacer*0.813;
  padding: 0;
  color: inherit;
  font-size: $font-size-base-lead;

  .icon {
    width: 1.125rem;
    height: 1.125rem;
    color: inherit;

    svg {
      top: 0;
    }
  }
}

.navigation-collapse-language {
  .navigation-collapse-service-link-text {
    text-transform: uppercase;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.navigation-collapse-list-radio {
  display: none;
}

// Social media
.navigation-collapse-social-links {
  --bs-gutter-x: #{$spacer*0.688};
}

.navigation-collapse-social-link {
  display: block;
  color: inherit;
  line-height: 1;

  .icon {
    width: 1.875rem;
    height: 1.875rem;
    color: inherit;

    svg {
      top: 0;
    }
  }
}
