.navigation-flyout-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: $spacer*0.625 0 0;
}

.navigation-flyout-categories-container:not(.is-level-0) {
  position: absolute;
  top: 0;
  left: 100%;
  min-height: 100%;
  padding-left: $spacer*0.625;

  .navigation-flyout-categories {
    left: 100%;
  }
}

.main-navigation-item:hover {
  .is-level-0 > .navigation-flyout-categories {
    display: block;
  }
}

.navigation-flyout-categories {
  &:not(.is-level-0) {
    margin: 0;
  }

  li {
    position: relative;

    &:hover {
      color: $dropdown-link-hover-color;

      &> div > .navigation-flyout-categories {
        display: block;
      }
    }
  }

  .dropdown-item {
    display: flex;
    justify-content: space-between;
    gap: $spacer*0.375;
    color: inherit;
    font-family: $font-family-noto;;

    &.active {
      color: $dropdown-link-active-color;
    }
  }

  .icon {
    transform: rotate(-90deg);
    transform-origin: center;
    width: 0.625rem;
    height: 0.625rem;
    color: inherit;
  }
}
