{% block sw_cms_element_collapses_config %}
    <div class="sw-cms-el-config-collapses">
        {% block sw_cms_element_collapses_config_tabs %}
            <sw-tabs
                class="sw-cms-el-config-collapses__tabs"
                default-item="content"
                positionIdentifier="test"
            >
                <template slot-scope="{ active }">
                    {% block sw_cms_element_collapses_config_tab_content %}
                        <sw-tabs-item
                            :title="$tc('sw-cms.elements.general.config.tab.content')"
                            name="content"
                            :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.content') }}
                        </sw-tabs-item>
                    {% endblock %}

                    {% block sw_cms_element_collapses_config_tab_options %}
                        <sw-tabs-item
                            :title="$tc('sw-cms.elements.general.config.tab.settings')"
                            name="settings"
                            :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.settings') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template
                    slot="content"
                    slot-scope="{ active }"
                >
                    {% block sw_cms_element_collapses_config_content %}
                        <sw-container
                            v-if="active === 'content'"
                            class="sw-cms-el-config-collapses__tab-content"
                        >
                            {# Items #}
                            <repeater 
                                v-model="element.config.fields.value" 
                                formName="collapse-form"
                                :defaultValue="defaultValue" 
                                :blockName="$tc('sw-cms.elements.collapses.config.blockName')"
                                :addButtonText="$tc('sw-cms.elements.collapses.config.addButton')">
                            </repeater>
                        </sw-container>
                    {% endblock %}

                    {% block sw_cms_element_collapses_config_settings %}
                        <sw-container
                            v-if="active === 'settings'"
                            class="sw-cms-el-config-collapses__tab-settings"
                        >
                            <sw-select-field
                                :label="$tc('sw-cms.elements.collapses.config.columnsNumber')"
                                {% if VUE3 %}
                                v-model:value="element.config.columnsNumber.value"
                                {% else %}
                                v-model="element.config.columnsNumber.value"
                                {% endif %}
                            >
                                <option value="1">
                                    1
                                </option>
                                <option value="2">
                                    2
                                </option>
                                <option value="3">
                                    3
                                </option>
                                <option value="4">
                                    4
                                </option>
                            </sw-select-field>
                        </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        {% endblock %}
    </div>
{% endblock %}
