{% block sw_cms_element_collapses_config %}
    <div class="sw-cms-el-config-collapses">
        {# Items #}
        <repeater 
            v-model="element.config.fields.value" 
            formName="collapse-form"
            :defaultValue="defaultValue" 
            :blockName="$tc('sw-cms.elements.collapses.config.blockName')"
            :addButtonText="$tc('sw-cms.elements.collapses.config.addButton')">
        </repeater>
    </div>
{% endblock %}
