.breadcrumb {
  position: absolute;
  top: 24px;
  left: 0;
  margin-bottom: $spacer*1.25;
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  .breadcrumb-item {
    font-weight: $font-weight-normal;

    &:last-child {
      color: $gray-bg;
    }
  }

  .breadcrumb-link {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    &.is-active {
      color: inherit;
      font-weight: inherit;
    }
  }
}
