.breadcrumb {
  margin-bottom: $spacer*1.25;
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  .breadcrumb-item {
    color: $gray-bg;
  }

  a {
    font-size: inherit;

    &.is-active {
      font-weight: $font-weight-normal;
    }
  }
}
