.breadcrumb {
  margin-bottom: $spacer*1.25;
  padding: 0 calc($container-padding-x / 2);
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  .breadcrumb-item {
    color: #CCCFD5;
  }

  a {
    font-size: inherit;

    &.is-active {
      font-weight: $font-weight-normal;
    }
  }
}
