.btn-primary {
  &:hover {
    --bs-btn-hover-bg: #{$sw-color-brand-secondary};
    --bs-btn-hover-border-color: #{$sw-color-brand-secondary};
  }
}

.btn-lg, 
.btn-buy, 
.btn-group-lg > .btn {
  font-size: $input-btn-font-size-lg;
}
