.dropdown-menu {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: $spacer*0.5;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
    width: 0.625rem;
    height: 0.625rem;
    background-color: $dropdown-bg;
  }

  &.dropdown-menu-end {
    &::before {
      left: auto;
      right: $spacer*0.5;
    }
  }

  .dropend > &{
    &::before {
      top: $spacer*0.5;
      left: 0;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.change-language {
  &.dropdown-menu {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: $spacer*0.5;
      left:unset;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: center;
      width: 0.625rem;
      height: 0.625rem;
      background-color: $dropdown-bg;
    }
  }
}