.product-box {
  .card-body {
    --bs-card-spacer-y: #{$spacer*1.563};
    --bs-card-spacer-x: #{$spacer*1.875};
    padding-top: $spacer*0.5;
  }
}

.product-image-wrapper {
  height: 16.938rem;
  margin-bottom: $spacer*0.75;
}

.product-image {
  &.is-standard {
    max-height: 100%;
  }
}

.product-name {
  height: 4.625rem;
  font-family: "adobe-garamond-pro", serif;
  font-size: $font-size-xl;
  line-height: $line-height-xl;

  @include media-breakpoint-up(lg) {
    height: 4.813rem;
    font-size: $h3-font-size;
  }
}

.product-description {
  height: auto;
  margin: 0 0 $spacer*1.125;
  font-size: $font-size-base;
  line-height: $line-height-base;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}

.product-price-info {
  margin: 0 0 $spacer*0.5;
}

.product-price-wrapper {
  line-height: $line-height-lg;
}

.product-price {
  font-weight: $font-weight-normal;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.product-price-unit {
  height: auto;
  margin: $spacer*0.25 0 0;
  opacity: .5;
}

.product-action {
  margin: 0;
  font-size: $font-size-base-lead;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  .btn-link {
    padding: 0;
    font-size: inherit;

    .icon {
      width: 0.625rem;
      height: 0.625rem;
      color: inherit;

      svg {
        top: 0;
      }
    }
  }
}
