{% block sw_cms_element_timeline_slider_preview %}
    <div class="sw-cms-el-preview-timeline-slider">
        <div class="timeline-slider-container">
            <div class="timeline-slider-item">
                <div class="timeline-slider-item-title">
                    Ab 10
                </div>

                <div class="timeline-slider-item-line"></div>
                
                <div class="timeline-slider-item-description">
                    Lorem ipsum dolor sit amet
                </div>
            </div>

            <div class="timeline-slider-item">
                <div class="timeline-slider-item-title">
                    Ab 15
                </div>

                <div class="timeline-slider-item-line"></div>
                
                <div class="timeline-slider-item-description">
                    Lorem ipsum dolor sit amet
                </div>
            </div>
        </div>
        
        <div class="navigation-arrows">
            <sw-icon
                class="timeline-slider-arrow"
                name="regular-chevron-left-xs"
                size="10"
            />

            <sw-icon
                class="timeline-slider-arrow"
                name="regular-chevron-right-xs"
                size="10"
            />
        </div>
    </div>
{% endblock %}

