{% block sw_cms_block_collapses_three_col %}
    <div class="sw-cms-block-collapses-three-col">
        <slot name="collapses1"></slot>
        <slot name="collapses2"></slot>
        <slot name="collapses3"></slot>
    </div>
{% endblock %}
