{% block sw_cms_element_devider %}
    <div class="sw-cms-el-devider">
        <div class="line"></div>
        <div v-if="linkConfig.text" class="button">
            {{ linkConfig.text }}
        </div>
        <div class="line"></div>
    </div>
{% endblock %}