{% block sw_cms_block_headline_jost_list %}
    <div class="sw-cms-block-preview-headline-jost-list sw-cms-preview-text-two-column">
        {# Headline jost #}
        <div>
            <h2>Lorem Ipsum dolor sit amet</h2>
        </div>

        {# List #}
        <div>
            <h3>
                01 Lorem ipsum
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <div>
                <br />
            </div>

            <h3>
                02 Lorem ipsum
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <div>
                <br />
            </div>

            <h3>
                03 Lorem ipsum
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <div>
                <br />
            </div>
        </div>
    </div>
{% endblock %}
