{% block sw_cms_element_audio_preview %}
    <div class="sw-cms-el-preview-audio">
        <img class="audio-thumbnail" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" alt="Thumnail image">

        <div class="audio-details">
            <p class="audio-author">Author name</p>
            <h3 class="audio-title">Audio title</h3>
            <p class="audio-subtitle">Subtitle</p>

            <div class="audio-bar"></div>
        </div>
            
        <div class="audio-play-btn">
            <sw-icon class="audio-play-icon"
                name="solid-play"
                color="#fff"
                size="6"
            />
        </div>
    </div>
{% endblock %}
