{% block sw_cms_element_image_text_cards_preview %}
    <div class="sw-cms-el-preview-image-text-cards">
        <div class="image-text-card">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                class="image-text-card-img"
            >

            <div class="image-text-card-content">
                <h1 class="image-text-card-headline">
                    Lorem ipsum
                </h1>

                <div class="image-text-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.   
                </div>
            </div>
        </div>
    </div>
{% endblock %}

