.sw-cms-el-collapses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 20px;

    .sw-alert {
        margin: 10px;
    }
}

.sw-cms-el-collapses-title {
    padding: 20px 0;
    font-size: 21px;
    line-height: 31px;
    border-top: 1px solid #CDD1CF;

    &.active {
        + .sw-cms-el-collapses-content-container {
            height: auto;
        }

        .sw-cms-el-collapses-title-arrow {
            transform: rotate(180deg);
        }
    }
}

.sw-cms-el-collapses-title-arrow {
    width: 11px;
    height: 20px;
    margin-right: 30px;
    float: right;
}

.sw-cms-el-collapses-content-container {
    overflow: hidden;
    height: 0;
}

.sw-cms-el-collapses-content {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 31px;
}
