{% block block_devider %}
    {% set element = block.slots.getSlot('devider') %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_devider_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
