{% block block_collapses %}
    {% set element = block.slots.getSlot('collapses') %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_collapses_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
