{% block block_text_slider %}
    {% set element = block.slots.getSlot('text-slider') %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_text_slider_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
