{% block sw_cms_element_text_slider_preview %}
    <div class="sw-cms-el-preview-text-slider">
        <div class="text-slider-item">
            <h4 class="text-slider-item-title">
                Lorem ipsum
            </h4>
            <p class="text-slider-item-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
        </div>

        <div class="navigation-dots">
            <div class="navigation-dot is--active"></div>
            <div class="navigation-dot"></div>
            <div class="navigation-dot"></div>
        </div>
        
        <div class="navigation-arrows">
            <sw-icon
                class="text-slider-arrow"
                name="regular-chevron-left-xs"
                size="10"
            />

            <sw-icon
                class="text-slider-arrow"
                name="regular-chevron-right-xs"
                size="10"
            />
        </div>
    </div>
{% endblock %}

