{% block component_product_description_container %}
    <div class="product-detail-description ">
        {% block component_product_description_content %}
            {% block component_product_description_content_text %}
                <div class="product-detail-description-text"
                        itemprop="description">
                    {{ product.translated.description|raw }}
                </div>
            {% endblock %}

            {% block component_product_description_content_properties %}
                {% if product.sortedProperties|length > 0 %}
                    {% sw_include '@Storefront/storefront/component/product/properties.html.twig' %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
